<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static File Tutorial</title>
    <link rel="stylesheet" href="../cssfiles/stand.css">
</head>
<body>
    <div class="card">
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, omnis?</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eaque. Nesciunt sapiente vero non!</p>
    </div>
</body>
</html>